@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* SHADCNUI TOKENS */
    --background: 0 0% 2%; /* #050505 */
    --foreground: 0 0% 100%; /* #FFFFFF */

    --card: 210 4% 11%; /* #1B1C1D */
    --card-foreground: 0 0% 100%; /* #FFFFFF */

    --popover: 210 5% 16%; /* #27292B */
    --popover-foreground: 0 0% 100%; /* #FFFFFF */

    --primary: 220 4% 25%; /* #3D4043 */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */

    --accent: 220 4% 25%; /* #3D4043 */
    --accent-foreground: 0 0% 100%; /* #FFFFFF */

    --secondary: 210 5% 16%; /* #27292B */
    --secondary-foreground: 0 0% 100%; /* #FFFFFF */

    --radius: 0.5rem;
    --subtle: 210 5% 16%; /* #27292B */

    --tertiary: 0 0% 82%; /* #CFD1D3 */
    --tertiary-foreground: 0 0% 100%; /* #FFFFFF */

    --neutral-dark: 210 5% 43%; /* #686D73 */
    --neutral-dark-foreground: 0 0% 100%; /* #FFFFFF */

    --neutral-light: 210 5% 65%; /* #A1A5AA */
    --neutral-light-foreground: 0 0% 100%; /* #FFFFFF */

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;

    .dark {
      --sidebar-background: 240 5.9% 10%;
      --sidebar-foreground: 240 4.8% 95.9%;
      --sidebar-primary: 224.3 76.3% 48%;
      --sidebar-primary-foreground: 0 0% 100%;
      --sidebar-accent: 240 3.7% 15.9%;
      --sidebar-accent-foreground: 240 4.8% 95.9%;
      --sidebar-border: 240 3.7% 15.9%;
      --sidebar-ring: 217.2 91.2% 59.8%;
    }

    /* DEPRECATED TOKENS - use design system tokens instead */
    --positive: 126 79% 52%; /* #29E03B */
    --negative: 12 95% 60%; /* #FA5C38 */
    --input: 210 5% 16%; /* #27292B */

    /* DESIGN SYSTEM TOKENS */

    /* Brand Palette */
    --brand-50: 195 100% 97%; /* #f0fcff */
    --brand-100: 194 93% 94%; /* #e1f9fe */
    --brand-200: 193 94% 88%; /* #c3f4fd */
    --brand-300: 192 94% 75%; /* #83e8fc */
    --brand-400: 191 96% 65%; /* #4fdffc */
    --brand-500: 188 96% 55%; /* #1fd5f9 */
    --brand-600: 188 95% 45%; /* #06bbe0 */
    --brand-700: 188 96% 35%; /* #0492ae */
    --brand-800: 188 95% 30%; /* #047d95 */
    --brand-900: 188 95% 25%; /* #03687c */
    --brand-1000: 188 95% 15%; /* #023e4b */

    /* Gray Palette */
    --gray-50: 220 4% 97%; /* #f7f7f8 */
    --gray-100: 220 4% 95%; /* #f2f2f3 */
    --gray-200: 210 4% 89%; /* #e2e3e4 */
    --gray-300: 210 5% 82%; /* #cfd1d3 */
    --gray-400: 210 5% 65%; /* #a1a5aa */
    --gray-500: 210 5% 43%; /* #686d73 */
    --gray-600: 210 5% 37%; /* #5a5f63 */
    --gray-700: 210 4% 30%; /* #494d50 */
    --gray-800: 220 4% 25%; /* #3d4043 */
    --gray-900: 210 5% 16%; /* #27292b */
    --gray-1000: 210 8% 11%; /* #1a1d1f */

    /* Error Palette */
    --error-50: 12 100% 99%; /* #fffbfa */
    --error-100: 12 85% 97%; /* #fef3f1 */
    --error-200: 14 89% 95%; /* #fdece8 */
    --error-300: 12 89% 88%; /* #fad0c7 */
    --error-400: 12 83% 80%; /* #f7b1a1 */
    --error-500: 12 89% 70%; /* #f7876e */
    --error-600: 12 95% 60%; /* #fa5c38 */
    --error-700: 12 60% 51%; /* #cd5337 */
    --error-800: 0 56% 42%; /* #a52e2e */
    --error-900: 12 55% 31%; /* #7b3323 */
    --error-1000: 12 82% 13%; /* #3e0f04 */

    /* Warning Palette */
    --warning-50: 40 100% 98%; /* #fffcf5 */
    --warning-100: 36 100% 98%; /* #fefaf5 */
    --warning-200: 47 89% 89%; /* #fbf2cb */
    --warning-300: 49 97% 74%; /* #fde57e */
    --warning-400: 43 100% 71%; /* #ffd16a */
    --warning-500: 35 95% 66%; /* #fbbc55 */
    --warning-600: 35 78% 57%; /* #e9a23b */
    --warning-700: 35 77% 44%; /* #c8811a */
    --warning-800: 32 100% 32%; /* #a35c00 */
    --warning-900: 29 100% 27%; /* #8b4400 */
    --warning-1000: 24 84% 26%; /* #78310b */

    /* Success Palette */
    --success-50: 126 89% 98%; /* #f6fef7 */
    --success-100: 124 82% 96%; /* #edfdee */
    --success-200: 127 82% 91%; /* #d7f9db */
    --success-300: 124 67% 83%; /* #b7f1bc */
    --success-400: 124 94% 72%; /* #74fb81 */
    --success-500: 124 89% 47%; /* #06ea1d */
    --success-600: 126 79% 52%; /* #29e03b */
    --success-700: 126 69% 38%; /* #1da52b */
    --success-800: 126 63% 32%; /* #1d8727 */
    --success-900: 126 59% 26%; /* #1b6a22 */
    --success-1000: 126 54% 21%; /* #18531e */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply overflow-hidden md:overflow-auto;
  }
}

/* Crypto Ticker Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 30s linear infinite;
}

/* Custom Scrollbar Styles */
@layer utilities {
  /* Webkit browsers (Chrome, Safari, newer versions of Edge) */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: red !important;
  }

  ::-webkit-scrollbar-thumb {
    background: hsla(var(--primary), 0.5);
    border-radius: var(--radius);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: transparent !important;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: hsla(var(--primary), 0.5) transparent;
  }
}

/* AI ASSISTANT STYLES */

/* To adjust the size of long KaTeX expressions to fit within their parent container (instead of allowing scrolling), 
you can use CSS techniques to scale down the KaTeX content responsively. Here's how you can do it:

Explanation:
width: 100% and max-width: 100%: Ensures the KaTeX container adjusts to the width of the parent without exceeding it.

transform: scale(0.9): This scales down the entire KaTeX content slightly to fit better in the container. You can adjust this value depending on the size of the expressions you are dealing with (e.g., scale(0.8) or smaller for very large expressions).

transform-origin: left: Ensures that scaling happens from the left edge, so the content shrinks towards the left instead of scaling from the center.

white-space: normal and word-wrap: break-word: These ensure that long expressions or words will break and wrap, instead of causing horizontal overflow.

overflow: hidden: Hides any overflowing content that might go outside the container.

 */

.katex-display {
  font-size: clamp(0.7rem, 2vw, 1.2rem); /* Dynamically adjust font size */
  line-height: 1.2;
  padding: 10px 0 !important;
  margin: 10px 0 !important;
  width: 100%; /* Ensure full width of the parent */
  max-width: 100%;
  overflow: auto;
}

.katex {
  font-size: inherit; /* Inherit font size from parent */
  width: 100%;
  max-width: 100%;
  word-wrap: break-word; /* Ensure breaking of long words or expressions */
}

/* Mobile Swiper Styles */
@layer components {
  .swiper-custom-pagination {
    @apply transition-all duration-300 ease-in-out;
  }

  .swiper-custom-pagination .swiper-pagination-bullet {
    @apply bg-brand-500/50 opacity-100 transition-all duration-300 ease-in-out;
    transform: scale(1);
  }

  .swiper-custom-pagination .swiper-pagination-bullet-active {
    @apply bg-brand-500 transition-all duration-300 ease-in-out;
    transform: scale(1.2);
  }

  .swiper-reduced-padding {
    @apply pb-2; /* Adjust this value as needed */
  }

  .swiper-reduced-padding .swiper-pagination {
    @apply bottom-1; /* Adjust this value as needed */
  }

  /* Slide change animation */
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    @apply transition-all duration-500 ease-in-out;
  }

  /* Optional: Add a subtle grow effect on hover */
  .swiper-pagination-bullet:hover {
    transform: scale(1.1);
  }
}
